<h1>Pandas introduction</h1>

Pandas is a popular Python package for data science, and with good reason: it offers powerful, expressive and flexible data structures that make data manipulation and analysis easy, among many other things.

In [16]:
import pandas as pd #pandas library
import numpy as np #numpy library (numeric processly in Python)

There are two structures types
<ul>
<li>Series</li>
<li>Dataframe</li>
</ul>

<h3>Series</h3>

A Series is like a one-dimensional array, a list of values. Every Series has an index, the index, that gives labels to each element of the list. 

You can create a Series with arrays

In [2]:
s = pd.Series([50,15,20,35], index=['Bacillus', 'Lactobacillus', 'Salmonella', 'Escherichia'])
s

Bacillus         50
Lactobacillus    15
Salmonella       20
Escherichia      35
dtype: int64

Or with Python dict

In [28]:
dic = {'Bacillus':50, 'Lactobacillus':15, 'Salmonella':20, 'Escherichia':35}
s = pd.Series(dic)
s

Bacillus         50
Escherichia      35
Lactobacillus    15
Salmonella       20
dtype: int64

You can verify the attributes of our Series, ``value``, and ``index`` fundamental attributes:

In [4]:
s.index

Index(['Bacillus', 'Escherichia', 'Lactobacillus', 'Salmonella'], dtype='object')

In [5]:
s.values

array([50, 35, 15, 20])

You can acess the item of your Serie using the index. Series is dict-like

In [6]:
s['Bacillus']

50

In [23]:
s.Bacillus

50

There are function to statistics measures, like mean and standard deviation:

In [7]:
print("Mean:", s.mean())
print("Standard deviation:", s.std())

Mean: 30.0
Standard deviation: 15.811388300841896

You can use a function to statistical summary: ``.describe``

In [10]:
s.describe()

count     4.000000
mean     30.000000
std      15.811388
min      15.000000
25%      18.750000
50%      27.500000
75%      38.750000
max      50.000000
dtype: float64

You also can use math or numpy function, without use

In [22]:
print(str(s)+"\n")
print(s*2)

Bacillus         50
Escherichia      35
Lactobacillus    15
Salmonella       20
dtype: int64

Bacillus         100
Escherichia       70
Lactobacillus     30
Salmonella        40
dtype: int64

In [19]:
np.log(s)

Bacillus         3.912023
Escherichia      3.555348
Lactobacillus    2.708050
Salmonella       2.995732
dtype: float64

<h3>Dataframe</h3>

A Dataframe is like a data table, with index to columns and rows, as Series dicts. Into teh Dataframe the data are stored like a one or more two-dimensional blocks

After you can see the Dataframe exemple using the GFF3 format. Use ``sep`` to separete the data, ``header``to columns names, and ``index_col`` to row labels. See more about Pandas I/O in https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [53]:
df = pd.read_csv("sequences.gff", sep="\t", header=None, index_col=0)
df

        1     2    3    4  5  6  7                               8
0
ctg123  .  mRNA   13   90  .  -  .  ID=mrna0001;Name=sonichedgehog
ctg123  .  exon   13   50  .  -  .    ID=exon00001;Parent=mrna0001
ctg123  .  exon   60   90  .  -  .    ID=exon00002;Parent=mrna0001
ctg456  .  mRNA  120  200  .  +  .     ID=mrna0002;Parent=mrna0002
ctg456  .  exon  120  135  .  +  .    ID=exon00001;Parent=mrna0002
ctg456  .  exon  180  200  .  +  .    ID=exon00001;Parent=mrna0002

In the table ``df``, it didn't get a columns names, so trying to use ``columns``

In [54]:
df.columns = ["seqid","source", "type", "start" , "end", "score", "strand", "phase", "attributes"]

ValueError: Length mismatch: Expected axis has 8 elements, new values have 9 elements

This error happened because our table has 8 colunms and 1 row label, and not 9 columns like our suggested previsly. You need use ``columns`` only columns, and ``index.name`` to row labels

In [55]:
df.columns = ["source", "type", "start" , "end", "score", "strand", "phase", "attributes"]
df.index.name = "seqid"
df

,source,type,start,end,score,strand,phase,attributes
seqid,,,,,,,,
ctg123,.,mRNA,13,90,.,-,.,ID=mrna0001;Name=sonichedgehog
ctg123,.,exon,13,50,.,-,.,ID=exon00001;Parent=mrna0001
ctg123,.,exon,60,90,.,-,.,ID=exon00002;Parent=mrna0001
ctg456,.,mRNA,120,200,.,+,.,ID=mrna0002;Parent=mrna0002
ctg456,.,exon,120,135,.,+,.,ID=exon00001;Parent=mrna0002
ctg456,.,exon,180,200,.,+,.,ID=exon00001;Parent=mrna0002

You can verify the fundamental attributes like Series, ``values``, ``index``, ``shape`` (table size), and ``describe``:

In [92]:
print("Type:" + str(df.dtypes)+"\n")
print("Columns:" +str(df.columns)+"\n")
print("Size:" +str(df.shape)+"\n")

Type:source        object
type          object
start          int64
end            int64
score         object
strand        object
phase         object
attributes    object
dtype: object

Columns:Index(['source', 'type', 'start', 'end', 'score', 'strand', 'phase',
       'attributes'],
      dtype='object')

Size:(6, 8)

In [94]:
df.describe()

            start         end
count    6.000000    6.000000
mean    84.333333  127.500000
std     67.030341   62.269575
min     13.000000   50.000000
25%     24.750000   90.000000
50%     90.000000  112.500000
75%    120.000000  183.750000
max    180.000000  200.000000

Others general function is sort a column

In [61]:
df.sort_values(by="type")

,source,type,start,end,score,strand,phase,attributes
seqid,,,,,,,,
ctg123,.,exon,13,50,.,-,.,ID=exon00001;Parent=mrna0001
ctg123,.,exon,60,90,.,-,.,ID=exon00002;Parent=mrna0001
ctg456,.,exon,120,135,.,+,.,ID=exon00001;Parent=mrna0002
ctg456,.,exon,180,200,.,+,.,ID=exon00001;Parent=mrna0002
ctg123,.,mRNA,13,90,.,-,.,ID=mrna0001;Name=sonichedgehog
ctg456,.,mRNA,120,200,.,+,.,ID=mrna0002;Parent=mrna0002

For select by the row label use ``loc``, you are selected by the sequence ID

In [65]:
df.loc["ctg123"]

,source,type,start,end,score,strand,phase,attributes
seqid,,,,,,,,
ctg123,.,mRNA,13,90,.,-,.,ID=mrna0001;Name=sonichedgehog
ctg123,.,exon,13,50,.,-,.,ID=exon00001;Parent=mrna0001
ctg123,.,exon,60,90,.,-,.,ID=exon00002;Parent=mrna0001

In [68]:
df.loc["ctg456"]

,source,type,start,end,score,strand,phase,attributes
seqid,,,,,,,,
ctg456,.,mRNA,120,200,.,+,.,ID=mrna0002;Parent=mrna0002
ctg456,.,exon,120,135,.,+,.,ID=exon00001;Parent=mrna0002
ctg456,.,exon,180,200,.,+,.,ID=exon00001;Parent=mrna0002

You can select using conditionals, without use directly ``if``

For exemple: Find only sequences with negative strand

In [72]:
df[df.strand=="-"]

,source,type,start,end,score,strand,phase,attributes
seqid,,,,,,,,
ctg123,.,mRNA,13,90,.,-,.,ID=mrna0001;Name=sonichedgehog
ctg123,.,exon,13,50,.,-,.,ID=exon00001;Parent=mrna0001
ctg123,.,exon,60,90,.,-,.,ID=exon00002;Parent=mrna0001

Or find exons that end after 90 position

In [74]:
df[(df.type == "exon") & (df.end > 90)]

,source,type,start,end,score,strand,phase,attributes
seqid,,,,,,,,
ctg456,.,exon,120,135,.,+,.,ID=exon00001;Parent=mrna0002
ctg456,.,exon,180,200,.,+,.,ID=exon00001;Parent=mrna0002

Other exemplo: You'd like to find the ID specific of row

In [79]:
df[df.attributes == "exon00001"]

Empty DataFrame
Columns: [source, type, start, end, score, strand, phase, attributes]
Index: []

You need use ``str.contains``, because your row ``attributes`` contains ID, and not is equal a ID

In [80]:
df[df.attributes.str.contains("exon00001")]

,source,type,start,end,score,strand,phase,attributes
seqid,,,,,,,,
ctg123,.,exon,13,50,.,-,.,ID=exon00001;Parent=mrna0001
ctg456,.,exon,120,135,.,+,.,ID=exon00001;Parent=mrna0002
ctg456,.,exon,180,200,.,+,.,ID=exon00001;Parent=mrna0002

You can group your data, like this, I'd like to know how many mRNA with negative strand I have

In [88]:
df[df.type == "mRNA"].groupby("strand").count().shape[0]

2

To create a Dataframe it is possible with dict with:

<ul>
<li>Dict of 1D ndarrays, lists, dicts, or Series</li>
<li>2-D numpy.ndarray</li>
<li>Structured or record ndarray</li>
<li>A Series</li>
<li>Another DataFrame</li>
</ul>

Below it is create with dict:

In [132]:
d = {"source":[".",".","."],
     "type":["mRNA","exon","exon"],
     "start":["400","400","600"],
     "end":["700","500","700"],
     "score":[".",".","."],
     "strand":["-","-","-"],
     "phase":[".",".","."],
     "attributes":["ID=mrna00003;Parent=mrna00003","ID=exon00001;Parent=mrna00003","ID=exon00002;Parent=mrna00003"]}
      
df2 = pd.DataFrame(d, columns=["source", "type", "start" , "end", "score", "strand", "phase", "attributes"], index=["ctg789","ctg789","ctg789"])
df2.index.name = "seqid"
df2

,source,type,start,end,score,strand,phase,attributes
seqid,,,,,,,,
ctg789,.,mRNA,400,700,.,-,.,ID=mrna00003;Parent=mrna00003
ctg789,.,exon,400,500,.,-,.,ID=exon00001;Parent=mrna00003
ctg789,.,exon,600,700,.,-,.,ID=exon00002;Parent=mrna00003

It is possible merge dataframes, using ``concat``

In [138]:
result = pd.concat([df,df2])
result

,source,type,start,end,score,strand,phase,attributes
seqid,,,,,,,,
ctg123,.,mRNA,13,90,.,-,.,ID=mrna0001;Name=sonichedgehog
ctg123,.,exon,13,50,.,-,.,ID=exon00001;Parent=mrna0001
ctg123,.,exon,60,90,.,-,.,ID=exon00002;Parent=mrna0001
ctg456,.,mRNA,120,200,.,+,.,ID=mrna0002;Parent=mrna0002
ctg456,.,exon,120,135,.,+,.,ID=exon00001;Parent=mrna0002
ctg456,.,exon,180,200,.,+,.,ID=exon00001;Parent=mrna0002
ctg789,.,mRNA,400,700,.,-,.,ID=mrna00003;Parent=mrna00003
ctg789,.,exon,400,500,.,-,.,ID=exon00001;Parent=mrna00003
ctg789,.,exon,600,700,.,-,.,ID=exon00002;Parent=mrna00003

<h3>Pandas is a world, for more information see at: https://pandas.pydata.org/pandas-docs/stable/index.html</h3>